@font-face {
  font-family: "Minecraft";
  src: url("/fonts/minecraft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: "Minecraft", monospace;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #13111d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
